---
import AboutHeroImage from '../assets/avatar.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Systems Architect, Software Engineer, Speaker, and Teacher"
	pubDate={new Date('December 21 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		I am a passionate systems architect, software engineer, speaker, and teacher with nearly three decades of experience across computer science, software development, operations, governance, and infrastructure. 
	</p>

	<p>
		I hold a master's degree in computer engineering from the Instituto de Pesquisas Tecnológicas do Estado de São Paulo (IPT). For the past 5 years, I have been researching the application of artificial intelligence in business, with an emphasis on natural language processing (NLP).
	</p>

	<p>
		My experience spans multiple industry segments, and for the past fifteen years, I have worked in telecommunications, education, and finance. Before joining Sysmap in April 2006, I co-founded Renaissance Consult (later acquired by Sysmap) and led the company's growth from a few consultants and customers to hundreds over a couple of years.
	</p>

	<p>
	Works:
	</p>

	<ol>
	<li>Santos, A., & Silva, P. S. M. (2025). Automated Transformation of Financial Regulations into SBVR: An Ontology-Based and Natural Language Processing Approach. <a href="https://doi.org/10.21203/rs.3.rs-8301991/v1">DOI: 10.21203/rs.3.rs-8301991</a></li>
	<li>dos Santos, A., & Silva, P. S. M. (2025). Evolving Compliance Processes through LLM-Supported Transformation of Regulations into SBVR. <a href="https://doi.org/10.22541/au.176051910.04955057/v1">DOI: 10.22541/au.176051910.04955057</a></li>
	<li>Santos, A., & Silva, P. S. M. (2025). TRANSFORMAÇÃO DE REGULAMENTOS FINANCEIROS PARA SBVR: UMA ABORDAGEM ATUALIZADA COM LLMs E ONTOLOGIAS. <a href="https://eventos.udesc.br/ocs/index.php/inova/2025/paper/view/2946">Congresso Inova 2025</a></li></li>
	<li>@adsantos at Medium.com - <a href="https://medium.com/@adsantos">Link</a></li>
	</ol>
</Layout>
