---
import AboutHeroImage from '../assets/avatar.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Systems Architect, Software Engineer, Speaker, and Teacher"
	pubDate={new Date('December 21 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		I am a passionate systems architect, software engineer, speaker, and teacher with nearly three decades of experience across computer science, software development, operations, governance, and infrastructure. 
	</p>

	<p>
		My experience spans multiple industry segments, and for the past ten years, I have worked in telecommunications and education. Before joining Sysmap in April 2006, I co-founded Renaissance Consult (which was later acquired by Sysmap) and led the company's growth from a few consultants and customers to hundreds over a couple of years.
	</p>
</Layout>
